<section class="about" id="about">
  <div class="about-image">
    <img src="../assets/img/profile2.png" />
  </div>
  <div class="about-content">
    <h2 class="header"><span>Hakkımda</span></h2>
    <p>
      Bursa doğumlu ve Akdeniz Üniversitesi Manavgat MYO Bilgisayar
      Programcılığı bölümünden 2023 Temmuz'unda mezun oldum. Pandemi nedeniyle
      eğitimimi uzaktan tamamladım.Yazılım sürecinde farklı teknolojileri
      kullanmaktan keyif alarak projelerle uğraşıyorum. Çalışma hayatında, ekip
      içinde dinamik ve görev dağılımından kaçınmayan biri olarak tanınırım.
      Ayrıca, iş dışında da yenilikçi fikirler ve beceriler geliştirmek için
      araştırmalar yapmaktan keyif alırım.
    </p>
  </div>
</section>
