:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
span {
  color: var(--main-color);
  font-weight: 700;
}
.about .header {
  color: var(--main-color);
  font-size: 5.2rem;
  animation: slideTop 1s ease forwards;
}
.about .header :nth-of-type(2) {
  margin-bottom: 2rem;
  opacity: 0;
  animation: slideTop 2s ease forwards;
  animation-delay: 0.7s;
}
.about {
  scroll-behavior: smooth;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background: var(--second-bg-color);
  color: var(--text-color);
}
.about-image {
  position: static;
  display: flex;
  width: 100%;
}
.about-image img {
  display: flex;
  width: 30rem;
  border-radius: 50%;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 40px;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.8s;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
}
