:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

.projects {
  background: var(--second-bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.projects h2 {
  margin-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.projects .heading {
  color: var(--main-color);
  font-size: 5.2rem;
}
.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}
.projects-box:hover img {
  transform: scale(1.1);
}
.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
  transform: translateY(0);
}
.projects-layer h4 {
  font-size: 3rem;
}
.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.projects-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 40px;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.8s;
  transition: 0.5s ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: none;
}
@media (max-width: 991px) {
  .projects {
    padding-bottom: 7rem;
  }
}
@media (max-width: 768px) {
  .projects h2 {
    margin-bottom: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
