<section class="projects" id="projects">
  <h2 class="heading"><span>Projelerim</span></h2>

  <div class="projects-container">
    @for (item of projectBox; track item.id) {
    <div class="projects-box">
      <img src="{{ item.img }}" />
      <div class="projects-layer">
        <h4>{{ item.header }}</h4>
        <p>
          {{ item.content }}
        </p>
        <a target="_blank" href="{{ item.link }}">
          <i class="bi bi-link"></i>
        </a>
      </div>
    </div>
    }
  </div>
</section>
