<section class="contact" id="contact">
  <h2 class="heading"><span>İletişim</span></h2>
  <form action="#">
    <div class="input-box">
      <input type="text" placeholder="İsim-Soyisim" />
      <input type="email" placeholder="E-Mail Adres" />
    </div>
    <div class="input-box">
      <input type="tel" placeholder="Telefon No" />
      <input type="text" placeholder="Konu" />
    </div>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Your Message"
    ></textarea>
    <input type="submit" value="Send Message" class="btn" />
  </form>
</section>
