<section class="contact" id="contact">
  <h2 class="heading"><span>İletişim</span></h2>

  <form action="#contact" method="post">
    <div class="input-box">
      <input
        [(ngModel)]="name"
        type="text"
        name="name"
        placeholder="İsim-Soyisim"
      />
      <input
        [(ngModel)]="mail"
        type="email"
        name="mail"
        placeholder="E-Mail Adres"
      />
    </div>
    <div class="input-box">
      <input
        [(ngModel)]="phone"
        type="tel"
        name="telefon"
        placeholder="Telefon No"
      />
      <input [(ngModel)]="subject" type="text" name="konu" placeholder="Konu" />
    </div>
    <textarea
      [(ngModel)]="body"
      name="mesaj"
      cols="30"
      rows="10"
      placeholder="Mesajınız"
    ></textarea>
    <input
      type="submit"
      value="Send Message"
      (click)="sendMail()"
      class="btn"
    />
  </form>
</section>
