<section class="skills" id="skills">
  <h2 class="heading"><span>Beceriler</span></h2>
  <div class="skills-container">
    @for(item of skilbox; track item.id){
    <div class="skills-box">
      <i class="{{ item.i }}"></i>
      <h3>{{ item.header }}</h3>
      <p>{{ item.showMore ? item.fullText : item.shortText }}</p>
      @if (!item.showMore) {<a class="btn" (click)="toggleShowMore(item)">{{
        buttonText
      }}</a
      >} @else{<a class="btn" (click)="toggleShowMore(item)">Daha Az Gör</a>}
    </div>
    }
  </div>
</section>
