<section class="projects" id="projects">
  <h2 class="heading"><span>Projelerim</span></h2>

  <div class="projects-container">
    <div class="projects-box">
      <img src="../assets/img/projects4.jpg" alt="" />
      <div class="projects-layer">
        <h4>Web Design</h4>
        <p>
          4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nam!
        </p>
        <a href="#">
          <i class="bx bx-link"></i>
        </a>
      </div>
    </div>
    <div class="projects-box">
      <img src="../assets/img/projects3.jpg" alt="" />
      <div class="projects-layer">
        <h4>Web Design</h4>
        <p>
          5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nam!
        </p>
        <a href="#">
          <i class="bx bx-link"></i>
        </a>
      </div>
    </div>
    <div class="projects-box">
      <img src="../assets/img/projects.jpg" alt="" />
      <div class="projects-layer">
        <h4>Web Design</h4>
        <p>
          6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nam!
        </p>
        <a href="#">
          <i class="bx bx-link"></i>
        </a>
      </div>
    </div>
  </div>
</section>
