<section class="home" id="home">
  <div class="home-content">
    <h3>Merhaba Ben</h3>
    <h1>Yunus</h1>

    <ngx-typed-js
      [strings]="['Back-End Developer', 'Graphic Designer']"
      [loop]="true"
      [cursorChar]="'|'"
      [backSpeed]="100"
      class="typed-text"
    >
      <span class="typing"></span
    ></ngx-typed-js>
    <p>Yeni projeler üzerinde çalışmaya devam ediyorum.</p>

    <div class="social-media">
      @for (item of links; track item.id) {
      <a href="{{ item.routes }}" target="_blank"
        ><i class="{{ item.i }}"></i></a
      >}
    </div>

    <a href="{{ downloadcv }}" target="_blank" class="btn">Download CV</a>
  </div>

  <div class="home-img">
    <img src="../assets/img/profile.png" />
  </div>
</section>
