<section class="home" id="home">
  <div class="home-content">
    <h3>Merhaba Ben</h3>
    <h1>Yunus</h1>
    <h3><span class="multiple-text"></span></h3>
    <!-- <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
      modi?
    </p> -->

    <div class="social-media">
      @for (item of links; track item.id) {
      <a href="{{ item.routes }}"><i class="{{ item.class }}"></i></a>}
    </div>
    <button class="btn" onclick="downloadPDF()">Download CV</button>
  </div>

  <div class="home-img">
    <img src="../assets/img/profile.png" />
  </div>
</section>
