<section class="home" id="home">
  <div class="home-content">
    <h3>Merhaba Ben</h3>
    <h1>Yunus</h1>
    <h3><span class="multiple-text"></span></h3>

    <p>Yeni projeler üzerinde çalışmaya devam ediyorum.</p>

    <div class="social-media">
      @for (item of links; track item.id) {
      <a href="{{ item.routes }}" target="_blank"
        ><i class="{{ item.i }}"></i></a
      >}
    </div>

    <button class="btn" (click)="downloadCV()">Download CV</button>
  </div>

  <div class="home-img">
    <img src="../assets/img/profile.png" />
  </div>
</section>
